!!!
%html
  %head
    %meta{charset: "utf-8"}
  %body

  .wrapper

    = render 'shared/side_bar'

    .content
      .upper
        .team
          .team__name
            = @groups.name
          .team__member
            MEMBER: keita
        .edit
          .edit__button
            = link_to 'Edit', edit_group_path(current_user)
      .chats
        = render @messages

      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'

